﻿@model TicTacToe.Models.Services.User.Get.UsersResponse

@{
    ViewBag.Title = "Accueil";
}

<h2>Accueil</h2>

<h4>Leaderboard</h4>
<hr />

<table id="leaderboard" class="table table-responsive table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>Pseudo</th>
            <th>Win</th>
            <th>Lose</th>
            <th>Pat</th>
            <th>Ratio</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var user in Model.Users)
        {
        <tr>
            <td>@user.UserName</td>
            <td>@user.Win</td>
            <td>@user.Lose</td>
            <td>@user.Pat</td>
            <td>@user.WinRate</td>
        </tr>
        }
    </tbody>
</table>
